html {
height: 100%;
}

body {
    width: 80%;
    margin: 0 auto;
    background-color: lightblue;

}

header {
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: gray; 
}

nav {
    font-size: 20px;
    justify-content: space-evenly;
    background-color: rgb(243, 232, 234);
}
nav ul {
    
    list-style: none; 
}

nav ul li {    
    display: inline-block;
    background-color: rgb(243, 232, 234);

}

main {
    background-color: rgb(162, 232, 219);

}

#container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

section {
    
    padding-bottom: 10px;
}

footer {
    opacity: 0.5;
    text-align: center;
    font-size: small;  
    padding-bottom: 20px;
}